body{
    background-color: rgb(255, 255, 238);
    
}
h1{
    font-weight: bold;
    font-size:50px; 
    
}   
p1{
    font:normal 15pt Arial;
    color:black; 
}
h2{
    font-size: bold;
    font-style: arial;
}
ol li{
    font-style: italic;
    font-size: 15pt;
}
h3{
    font-style: oblique;
    color:black; 
    font-size: 15pt;
}
